<app-navbar></app-navbar>
<br />
<div class="container">
  <h1 style="text-align: center">Agregar Producto</h1>
  <br />
  <div class="row">
    <div class="col-md-4 order-md-2 mb-4">
      <app-pais-table (selectEvent)="selectCountry($event)"></app-pais-table>
    </div>

    <div class="col-md-8 order-md-1">
      <div>
        <form [formGroup]="form" (ngSubmit)="create()">
          <div class="row formulario">
            <div class="col-md-6 mb-3">
              <label for="codigo" class="form-label">Codigo</label>
              <input
                type="text"
                class="form-control"
                id="codigo"
                placeholder="Ingrese codigo.."
                formControlName="codigo"
                [(ngModel)]="unProducto.codigo"
              />
              <small
                class="invalid"
                *ngIf="
                  form.controls.codigo.errors?.required &&
                  form.controls.codigo.touched
                "
                >Campo requerido</small
              >
              <small
                class="invalid"
                *ngIf="
                  form.controls.codigo.errors?.contiene &&
                  form.controls.codigo.touched
                "
                >Tiene espacios</small
              >
            </div>

            <div class="col-md-6 mb-3">
              <label for="descipcion" class="form-label">Descipcion</label>
              <input
                type="text"
                class="form-control"
                id="descipcion"
                placeholder="Ingrese descipcion.."
                formControlName="descipcion"
                [(ngModel)]="unProducto.descipcion"
              />
              <small
                class="invalid"
                *ngIf="
                  form.controls.descipcion.errors?.required &&
                  form.controls.descipcion.touched
                "
                >Campo requerido</small
              >
              <small
                class="invalid"
                *ngIf="
                  form.controls.descipcion.errors?.contiene &&
                  form.controls.descipcion.touched
                "
                >Tiene espacios</small
              >
            </div>

            <div class="col-md-6 mb-3">
              <label for="precio" class="form-label">Precio</label>
              <input
                type="number"
                class="form-control"
                id="precio"
                placeholder="Ingrese precio"
                formControlName="precio"
                [(ngModel)]="unProducto.precio"
              />
              <small
                class="invalid"
                *ngIf="
                  this.form.get('precio')?.errors?.required &&
                  this.form.get('precio')?.touched
                "
              >
                El campo es requerido
              </small>
              <small
                class="invalid"
                *ngIf="
                  this.form.get('precio')?.errors?.min ||
                  this.form.get('precio')?.errors?.max
                "
              >
                El campo debe ser mínimo 1 y máximo 5000
              </small>
            </div>

            <div class="col-md-6 mb-3">
              <label for="stock" class="form-label">Stock</label>
              <input
                type="number"
                class="form-control"
                id="stock"
                placeholder="Ingrese stock"
                formControlName="stock"
                [(ngModel)]="unProducto.stock"
              />
              <small
                class="invalid"
                *ngIf="
                  this.form.get('stock')?.errors?.required &&
                  this.form.get('stock')?.touched
                "
              >
                El campo es requerido
              </small>
              <small
                class="invalid"
                *ngIf="
                  this.form.get('stock')?.errors?.min ||
                  this.form.get('stock')?.errors?.max
                "
              >
                El campo debe ser mínimo 1 y máximo 5000
              </small>
            </div>

            <div class="col-md-6 mb-3">
              <label for="nacionalidad" class="form-label">Nacionalidad</label>
              <input
                type="text"
                class="form-control"
                id="nacionalidad"
                placeholder="Seleccione nacionalidad"
                formControlName="nacionalidad"
                [(ngModel)]="unProducto.nacionalidad"
                disabled
              />
              <small
                class="invalid"
                *ngIf="
                  form.controls.nacionalidad.errors?.required &&
                  form.controls.nacionalidad.touched
                "
                >Seleccione Nacionalidad</small
              >
            </div>

            <div class="col-md-6 mb-3">
              <label for="comestible" class="form-label">comestible</label
              ><br />
              <select
                id="comestible"
                formControlName="comestible"
                [(ngModel)]="unProducto.comestible"
              >
                <option value="" disabled="true" selected>Seleccione..</option>
                <option value="True">Comestible</option>
                <option value="False">No Comestible</option>
              </select>
              <small
                class="invalid"
                *ngIf="
                  form.controls.comestible.touched &&
                  form.controls.comestible.errors?.required
                "
                ><br />Campo requerido</small
              >
            </div>

            <div
              class="card col-12"
              style="max-width: 280px; margin: auto"
              *ngIf="countrySelected"
            >
              <img
                [src]="countrySelected.flag"
                class="card-img-top"
                alt="image pais"
              />
              <div class="card-body">
                <h5 class="card-title">{{ countrySelected.name }}</h5>
                <input
                  type="text"
                  id="nacionalidad"
                  class="form-control"
                  formControlName="nacionalidad"
                  [(ngModel)]="unProducto.nacionalidad"
                  value="{{ unProducto.nacionalidad }}"
                  readonly
                />
              </div>
            </div>
          </div>

          <div class="col-md-12 mb-5">
            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="terminos"
                formControlName="terminos"
              />
              <label for="terminos" class="form-check-label" for="terminos">
                Aceptar términos y condiciones
              </label>
            </div>
          </div>

          <div class="col-md-12 d-grid gap-2">
            <button type="submit" class="btn btn-primary btn-block">
              Aceptar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
