<div class="container">
  <table class="table table-dark mydatatable" style="text-align: left;">
    <thead>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Sexo</th>
      <th>Edad</th>
      <th>Nacionalidad</th>
    </thead>
    <tbody style="cursor: pointer">
      <tr
        *ngFor="let unActor of listadoActores$ | async"
        app-fila-pelicula
        (click)="mostrarDetalles(unActor)"
      >
        <td>{{ unActor.nombre }}</td>
        <td>{{ unActor.apellido }}</td>
        <td>{{ unActor.sexo }}</td>
        <td>{{ unActor.edad }}</td>
        <td>{{ unActor.nacionalidad }}</td>
      </tr>
    </tbody>
  </table>
</div>
