<app-navbar></app-navbar>
<br />
<div class="container">
  <h1 style="text-align: center">Agregar Pelicula</h1>
  <div class="row">
    <form
      [formGroup]="this.formFilm"
      (ngSubmit)="create()"
      class="col-md-5 sm-4"
    >
      <!-- form nombre -->
      <div class="form-group">
        <label for="nombre" class="form-label">Nombre</label>
        <input
          type="text"
          class="form-control"
          id="nombre"
          placeholder="Ingrese Nombre.."
          formControlName="nombre"
        />
        <!-- form invalids -->
        <small
          class="invalid"
          *ngIf="
            this.formFilm.get('nombre')?.errors?.required &&
            this.formFilm.get('nombre')?.touched
          "
        >
          El campo es requerido
        </small>
      </div>

      <!-- form tipo -->
      <div class="form-group">
        <label for="tipo" class="form-label">Tipo</label>
        <select class="custom-select" formControlName="tipo">
          <option value="Accion">Accion</option>
          <option value="Amor">Amor</option>
          <option value="Comedia">Comedia</option>
          <option value="Infantil">Infantil</option>
          <option value="Terror">Terror</option>
          <option value="Otros">Otros</option>
        </select>
        <!-- form invalids -->
        <small
          class="invalid"
          *ngIf="
            this.formFilm.get('tipo')?.errors?.required &&
            this.formFilm.get('tipo')?.touched
          "
        >
          El campo es requerido
        </small>
      </div>

      <!-- form fecha estreno -->
      <div class="form-group">
        <label for="fechaEstreno" class="form-label">Fecha de estreno</label>
        <input
          type="date"
          class="form-control"
          id="fechaEstreno"
          formControlName="fechaEstreno"
        />
        <!-- form invalids -->
        <small
          class="invalid"
          *ngIf="
            this.formFilm.get('fechaEstreno')?.errors?.required &&
            this.formFilm.get('fechaEstreno')?.touched
          "
        >
          El campo es requerido
        </small>
      </div>

      <!-- form cantidad publico -->
      <div class="form-group">
        <label for="cantidadPublico" class="form-label"
          >Cantidad de público</label
        >
        <input
          type="number"
          class="form-control"
          placeholder="Ingrese Cantidad.."
          id="cantidadPublico"
          formControlName="cantidadPublico"
        />
        <!-- form invalids -->
        <small
          class="invalid"
          *ngIf="
            this.formFilm.get('cantidadPublico')?.errors?.required &&
            this.formFilm.get('cantidadPublico')?.touched
          "
        >
          El campo es requerido
        </small>
        <small
          class="invalid"
          *ngIf="
            this.formFilm.get('cantidadPublico')?.errors?.min ||
            this.formFilm.get('cantidadPublico')?.errors?.max
          "
        >
          El campo debe ser mínimo 1 y máximo 5000
        </small>
      </div>

      <!-- form protagonista seleccionado -->
      <div class="form-group">
        <label for="protagonista" class="form-label">Protagonista</label>
        <input
          type="text"
          class="form-control"
          id="protagonista"
          placeholder="Seleccione Protagonista.."
          formControlName="protagonista"
          [(ngModel)]="film.protagonista"
          disabled
        />
        <!-- form invalids -->
        <small
          class="invalid"
          *ngIf="
            formFilm.controls.protagonista.errors?.required &&
            formFilm.controls.protagonista.touched
          "
          >Seleccione Protagonista</small
        >
      </div>

      <!-- form photo -->
      <div class="form-group">
        <label for="pathFoto" class="form-label">Foto de película</label>
        <input
          type="text"
          class="form-control"
          id="pathFoto"
          placeholder="Ingrese URL Imagen.."
          formControlName="pathFoto"
        />
        <!-- form invalids -->
        <small
          class="invalid"
          *ngIf="
            this.formFilm.get('pathFoto')?.errors?.required &&
            this.formFilm.get('pathFoto')?.touched
          "
        >
          El campo es requerido
        </small>
      </div>

      <!-- button: add new Film -->
      <button
        type="submit"
        class="btn btn-primary btn-block"
        [disabled]="formFilm.invalid"
      >
        Crear
      </button>
      <br />
    </form>

    <!-- tabla actores -->
    <div class="col-md-4 themed-grid-col" style="text-align: center">
      <br /><br /><br />
      <h5 style="text-align: left; color: rgb(220, 255, 234);">Listado Actores</h5>
      <app-actor-tabla class="tablaActores" (actorSelected)="addActor($event)">
      </app-actor-tabla>
    </div>
  </div>
</div>
