<app-navbar></app-navbar>
<div class="login-page">
  <div class="container p-4" style="min-height: 100vh; ">
    <div class="row">
      <div class="col-md-4 mx-auto">
        <div class="card text-center">
          <div class="card-header">
            <h3>Login</h3>
            <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
              <div class="card-body">
                <div class="form-group">
                  <img
                    src="/assets/img/login.svg"
                    class="card-img-top mx-auto m-2"
                  />
                  <input
                    type="text"
                    name="email"
                    placeholder="Enter Email.."
                    class="form-control"
                    formControlName="email"
                    required
                  />
                </div>
                <div class="form-group">
                  <input
                    type="password"
                    name="password"
                    placeholder="Enter Password.."
                    class="form-control"
                    formControlName="password"
                    required
                  />
                </div>
                <div class="form-group">
                  <button class="btn btn-primary btn-lg btn-block">
                    Login
                  </button>
                </div>
                <!-- <div class="form-group">
                <button class="btn btn-info btn-lg btn-block">Login with Google</button>
              </div>
              <div class="form-group">
                <button class="btn btn-primary btn-lg btn-block">Login with Facebook</button>
              </div> -->
                <div class="form-group mt-3">
                  <p>
                    Create an account
                    <a routerLink="/user/register" routerLinkActive="active"
                      >Register</a
                    >
                  </p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
